#####################
# non-project files #
#####################

bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
*.DotSettings.user
nuget
BenchmarkDotNet.Artifacts/

##############
# IDE config #
##############

.idea/
.vscode/

########
# macOS #
########

.DS_Store
/swap/

#################
# Documentation #
#################

/site/